.todo {
    text-align: center;
}

.todo__input input, .todo__input button {
    padding: 10px;
    font-size: 16px;
}

.input {
    width: 700px;
}

.todo__list {
    margin: 50px auto;
    width: 700px;
    text-align: left;
    font-size: 16px;
}

.todo__list span {
    margin-left: 10px;
}

.todo__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.todo__content {
    flex-basis: 80%;
    cursor: pointer;
}

.edit, .delete {
    cursor: pointer;
}

.edit {
    margin-right: 20px;
}

.todo__span, .todo__checkbox {
    pointer-events: none;
}